* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 22, 22);
    color: aliceblue;
}
h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}
.posts{
    position: absolute;
    right: 4%;
    top: 10%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.posts img{
    width: 90px;
    border-radius: 10px;
    border: 1px solid aliceblue;
}
.top{
    display: flex;
    flex-direction: column;
}
.texto{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.texto2{
    position: absolute;
    right: 7%;
    top: 4%;
    background-color: rgb(228, 201, 48);
    color: black;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid aliceblue;
}
.game-board {
    width: 95%;
    height: 70%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: Linear-gradient(rgb(18, 130, 204), rgb(157, 240, 255), rgb(247, 247, 247));
}
.piso{
    position: absolute;
    height: 9%;
    width: 95%;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: Linear-gradient(rgb(45, 207, 39),rgb(8, 95, 15), rgb(0, 41, 10));
}
.pokebola {
    position: absolute;
    width: 100px;
    bottom: -15px;
    
}
.pikachu {
    position: absolute;
    width: 400px;
    bottom: 0px;
    margin-left: 5%;
}
.clouds {
    position: absolute;
    width: 580px;
    animation: clouds-animation 20s infinite linear;
}
.jump {
    animation: jump 500ms ease-out;
}
@keyframes pokebola-animation {
    from {right: -80px;}
    to {right: 100%;}
}
@keyframes jump {
    0% {bottom: 0;}
    50% {bottom: 150px;}
    60% {bottom: 150px;}
    100% {bottom: 0;}
}
@keyframes clouds-animation {
    from {right: -580px;}
    to { right: 100%;}
}

.score-placa{
    width: 150px;
    height: 120px;
    background-color: rgb(189, 4, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 15px;
    border-radius: 10px;
    
    position: absolute;
    top: 7%;
    left: 2.5%;
}
.num-score{
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 50px;
    color: black;
    width: 100px;
}
.animar {
animation: pokebola-animation 1.5s infinite linear;
}
